.container {
	width: 500px;
	clear: both;
}

form input {
	width: 100%;
	clear: both;
	margin-top: 10px;
	padding-left: 5px;
}

.container select {
	margin-top: 10px;
}

h1,h2,h3 {
text-align: center;
vertical-align: middle;

}

p {
text-align: center;
vertical-align: middle;
}


