.container {
	width: 500px;
	clear: both;
}

form input {
	width: 100%;
	clear: both;
	margin-top: 10px;
	padding-left: 5px;
}

.container select {
	margin-top: 10px;
}

h1 {
text-align: center;
vertical-align: middle;
color:#800000;
font-family: "Palantino", serif;
font-size: 100px;

}

h2{
    text-align: center;
    vertical-align: middle;
    font-family: "Palantino", serif;
    margin: 50px;

}   

.col-sm-6{
    
}

.row {
   margin: auto;
   width: 40%;

}

p {
text-align: center;
vertical-align: middle;
font-family: "Palantino", serif;
font-size: 16px;

}

.btn {
  display:block;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: 5px;
  border-style: solid;
  border-color: #800000;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  font-size: 30px;
  font-family: "Palantino", serif;
}
