{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'ridematch/css/site_style.css' %}" />
{% endblock %}
{% block content %}


    <h1> HaveARide </h1>
    <p> A ride sharing service for tri-co students </p>
    <h2> Choose your path: </h2>

   <div class = "row">
         <div class="col-sm-6">
            <a href="{% url 'ridematch:finder_sharer' 'finder'%}" class = "btn btn-default"> Find a ride </a>
         </div>
         <div class="col-sm-6">
            <a href="{% url 'ridematch:finder_sharer' 'sharer' %}" class = "btn btn-default"> Share a ride </a>
         </div>
   </div>


    


{% endblock %}
